swarm_exploration/utils/lkh_mtsp_solver/resource/*.atsp
swarm_exploration/utils/lkh_mtsp_solver/resource/*.par
swarm_exploration/utils/lkh_mtsp_solver/resource/*.tour

# ROS/catkin build outputs
build/
devel/
install/
logs/
.catkin_tools/

# Common local files
.vscode/
*.log
*.pyc
__pycache__/
